<table width="100%">
    <tr>
        <td>
            This website uses cookies to ensure you get the best experience on our website.&nbsp;
            <a href="/legal/cookies" class="text-warning">More info</a>
        </td>
        <td align="right">
            <button class="btn btn-warning btn-sm" onclick="acceptCookies()">
                Accept
            </button>
        </td>
    </tr>
</table>