<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Build your big next idea" />
    <meta name="author" content="VASKIT - London - UK" />
    <title>VASKIT - Build your big next idea</title>

    <!-- For all templates -->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/ejs.css" rel="stylesheet" />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script>
        var PLAN_CODE_FREE = '<%= PLAN_CODE_FREE %>';
        var PLAN_CODE_STANDARD = '<%= PLAN_CODE_STANDARD %>';
        var PLAN_CODE_ENTERPRISE = '<%= PLAN_CODE_ENTERPRISE %>';
    </script>

</head>