<div class="card text-center border-0 shadow" style="margin-top:4rem; margin-bottom:5rem;">
    <div class="card-body">
        <table align="center">
            <tr>
                <td>
                    <img src="/assets/img/logo-amazon.png" style="height:100px" />
                </td>
                <td>
                    <h2>
                        - Create Buckets and store files. One HTTP request only!
                    </h2>
                    <h2>
                        - Translate any text!
                    </h2>
                    <div class="small">
                        Learn how to do that <a href="/doc">here</a>
                        (includes code)
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>