<div class="container">
    <div class="row my-10">
        <div class="col-lg-6 mb-5">
            <div class="d-flex h-100">
                <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                <div class="ml-4">
                    <h5 class="text-white">Can I use VASKIT with all my clients and applications?
                    </h5>
                    <p class="text-white-50">
                        Yes. Once you hire VASKIT, you can use it as you please in your Web
                        Application, Game,
                        Mobile navite application or whatever you want to put online for your
                        business. There's no
                        limit of applications that will send requests to our server.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="d-flex h-100">
                <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                <div class="ml-4">
                    <h5 class="text-white">Can I cancel my subscription?</h5>
                    <p class="text-white-50">
                        Yes. We charge a monthly fee which can be terminated when you don't
                        want to use the service any longer. WARNING! If you terminate your plan,
                        at the end of the billing period your data and users will be deleted.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="d-flex h-100">
                <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                <div class="ml-4">
                    <h5 class="text-white">Do I get free updates?</h5>
                    <p class="text-white-50">
                        Yes. We have a team of developers working daily to add features to VASKIT.
                        As our client, you will receive all these benefits, without any extra
                        charge.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex h-100">
                <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                <div class="ml-4">
                    <h5 class="text-white">Do you offer extra advice?</h5>
                    <p class="text-white-50">
                        Yes. Vaskit is also a consultant firm for companies. We give support and
                        help
                        companies to succeed in their next project. We see everyday many companies
                        spending
                        a lot of money because they don't make the correct decisions. Call us and
                        fix your
                        current problems on planning and management.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-lg-8">
            <div class="badge badge-transparent-light badge-pill badge-marketing mb-4">
                Get Started
            </div>
            <h2 class="text-white">
                Your current and next big idea is better with VASKIT!
            </h2>
            <p class="lead text-white-50 mb-5">
                To be a start-up doesn't mean that you have to be unorganized. It doesn't mean that
                you
                have to deal with small resources because everything is too expensive.
                VASKIT plans let you spend the ideal budget in exchange for quality
                service.
            </p>
            <a class="btn btn-teal btn-marketing rounded-pill lift lift-sm" href="javascript:startHere()">
                START NOW!
            </a>
        </div>
    </div>
</div>
<div class="svg-border-rounded text-white">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
</div>