<div class="container">
    <div class="row text-center">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
                <i data-feather="layers"></i></div>
            <h3>Built for developers</h3>
            <p class="mb-0 small">
                Give this to your developers, they will not only get the idea very quickly,
                but they will have a full <b>backend</b> system working in less than a day!
            </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
                <i data-feather="smartphone"></i></div>
            <h3>Use any frontend</h3>
            <p class="mb-0 small">
                You work with <b>React</b>, <b>Angular</b>, <b>Vue</b>, <b>Javascript</b>,
                <b>Android</b>, <b>iOS</b>, <b>C#</b>, <b>Java</b> or any other?
                VASKIT will fit perfectly in minutes.
            </p>
        </div>
        <div class="col-lg-4">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
                <i data-feather="code"></i></div>
            <h3>Complete documentation</h3>
            <p class="mb-0 small">
                We provide a very precise documentation for developers.
                They will have all the tools they need at hand.
            </p>
        </div>
    </div>
    <div style="height:4rem;"></div>
</div>
<div class="svg-border-rounded text-light">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
</div>