<header class="page-header page-header-dark bg-gradient-primary-to-secondary">
    <div class="page-header-content pt-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <h1 class="page-header-title">
                        Build your big next idea
                    </h1>
                    <p class="page-header-text" style="line-height:200%;">
                        <i class="fas fa-times-circle"></i>&nbsp;Don't want to deal with a CMS? &nbsp;
                        <i class="fas fa-times-circle"></i>&nbsp;Servers take months/years to be ready?
                        &nbsp;
                        <i class="fas fa-times-circle"></i>&nbsp;Don't have a server to host a "Headless
                        CMS"? &nbsp;
                    </p>
                    <p class="mb-4">
                        Don't waste more money and time.
                    </p>
                    <a class="btn btn-teal btn-marketing rounded-pill lift lift-sm" href="javascript:startHere()">
                        USE VASKIT!
                        <i class="fas fa-arrow-right ml-1"></i></a><a class="btn btn-link btn-marketing"
                        href="javascript:changePageTo('/doc')">Documentation</a>
                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50"><img class="img-fluid"
                        src="/assets/img/drawkit/color/drawkit-content-man-color.svg" /></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
            fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</header>