<div class="card border-0 text-center shadow" style="margin-top:4rem; margin-bottom:5rem;">
    <div class="card-header">
        <h2 class="pt-2">
            Manage your tables and records with few lines of code
        </h2>
    </div>
    <div class="card-body">
        <div class=" d-flex align-items-center row">
            <div class="col">
                <img src="/assets/insert-record.png" style="width:100%" class="border" />
            </div>
            <div class="col">
                <div>&nbsp;</div>
                <p>
                    Example Javascript code
                    to insert a new record
                    in any of the many tables you can
                    create.
                </p>
                <p class="text-info">
                    <i class="fas fa-lock-open mr-1"></i>
                    Work with public and private tables.
                    <i class="fas fa-lock ml-1"></i>
                </p>
                <h3 style="margin-top:2rem;">
                    Send Push notifications without installing anything
                    on your side.
                </h3>
                <h3 style="margin-top:2rem;">
                    Work with Sockets and create Cron Jobs
                </h3>
                <p>
                    All in VASKIT is as easy as sending HTTP requests.
                </p>
            </div>
        </div>
        <div class="mt-4">
            <a href="/doc#add-records-to-public-tables">
                See our detailed documentation with source code
            </a>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-primary btn-lg" onclick="startHere()">
            Start Now!
        </button>
    </div>
</div>