<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
            <div class="content-skewed content-skewed-right">
                <img class="content-skewed-item img-fluid  rounded-lg"
                    src="/assets/img/drawkit/5c65f4ae2f71d67d0ee9f032_hero-image.png" />
            </div>
        </div>
        <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
            <div class="mb-5">
                <h2>What do you get with VASKIT?</h2>
                <p class="lead">
                    The hardest work in your next project is a <b>Server</b>.
                    Even using a CMS, you need months to set up and
                    make it work. Any Headless CMS will require
                    a server to host your files!
                    <div class="text-primary"><b>
                            VASKIT solves all those problems so you can be up
                            and running in less than a week!
                        </b></div>
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h6>Create custom tables</h6>
                    <p class="mb-2 small">
                        The only work you have to do is to define the tables your application will
                        use. Just create them
                        by giving a name and a security level. To create a table never was so easy!
                    </p>
                    <a class="small text-arrow-icon" href="javascript:changePageTo('/doc/tables')">
                        Learn More<i data-feather="arrow-right"></i></a>
                </div>
                <div class="col-md-6 mb-4">
                    <h6>Define your security</h6>
                    <p class="mb-2 small mb-0">
                        Our security policy is very simple: Public or Private. You decide for which
                        table you want to
                        allow users to read without being logged in.
                    </p>
                    <a class="small text-arrow-icon" href="javascript:changePageTo('/doc/security')">
                        Learn More<i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h6>Built-in user management</h6>
                    <p class="mb-2 small mb-0">
                        We manage the user creation, login and the hard process you don't want to
                        do. Use those users to access your private or public data.
                    </p>
                    <a class="small text-arrow-icon" href="javascript:changePageTo('/doc/users')">
                        Learn More<i data-feather="arrow-right"></i></a>
                </div>
                <div class="col-md-6 mb-4">
                    <h6>Browse your data</h6>
                    <p class="small mb-0">
                        Once users enter data, you will be able to see it from your private
                        Dashboard. Manage everything without setting up a server. Save money!
                    </p>
                    <a class="small text-arrow-icon" href="javascript:changePageTo('/doc/data')">
                        Learn More<i data-feather="arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>