<nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-white" href="/">VASKIT</a><button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="/commercial/about.html">About </a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:scrollTopOf('select-plan')">Pricing </a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:changePageTo('/developer')">Developers </a>
                </li>
                <li class="nav-item" id="myProfile">
                    <!-- loaded from javascript-->
                </li>
            </ul>
            <a class="btn-teal btn rounded-pill px-4 ml-lg-4" href="javascript:startHere()">
                START HERE
            </a>
        </div>
    </div>
</nav>