<div class="container" id="demoApps">
    <div class="card border-0 text-center shadow" style="margin-top:4rem; margin-bottom:5rem;">
        <div class="card-header">
            <h2 class="pt-2">
                Working Examples &amp; Download from Github
            </h2>
        </div>
        <div class="card-body text-center">
            <h3 class="m-0 p-0">
                CRUD demo apps
            </h3>
            <p class="mt-2 mb-2 small">
                Learn how to do CRUD operations using VASKIT API. <br>Choose
                your favorite language / library / framework.
            </p>
            <div class="row d-flex justify-content-center mb-4 p-0 m-0">
                <a class="col-auto btn btn-info btn-lg m-4" href="/demo/crud/javascript">
                    Javascript
                </a>
                <a class="col-auto btn btn-info btn-lg m-4" href="/demo/crud/angular">
                    Angular
                </a>
                <a class="col-auto btn btn-info btn-lg m-4" href="/demo/crud/react">
                    React JS
                </a>
                <a class="col-auto btn btn-info btn-lg m-4" href="/demo/crud/android">
                    Android
                </a>
            </div>
            <div class="row d-flex justify-content-center mb-4 p-0 m-0">
                <div class="col-auto">
                    <h3 class="m-0 p-0">
                        Demo for a CHAT application
                    </h3>
                    <p class="mt-2 mb-2 small">
                        Learn how to build a CHAT application using VASKIT API.
                    </p>
                    <div class="row d-flex justify-content-center mb-4 p-0 m-0">
                        <a class="col-auto btn btn-info btn-lg m-4" href="/demo/chat/javascript">
                            Javascript
                        </a>
                    </div>
                </div>
                <div class="col-auto">
                    <h3 class="m-0 p-0">
                        Demo for a P2P application using VASKIT API
                    </h3>
                    <p class="mt-2 mb-2 small">
                        Send a file to yourself without
                        saving to server
                    </p>
                    <div class="row d-flex justify-content-center mb-4 p-0 m-0">
                        <a class="col-auto btn btn-info btn-lg m-4" href="/demo/p2p/javascript">
                            Javascript
                        </a>
                    </div>
                </div>
            </div>
            <h3 class="p-0 m-0">
                Demo for a GROUP VIDEO application
            </h3>
            <p class="mt-2 mb-2 small">
                Learn how to build your own video and audio chat conferences
                using VASKIT API. <br>You don't need to install any plugin or
                application on client side.
            </p>
            <div class="row d-flex justify-content-center mb-4 p-0 m-0">
                <a class="col-auto btn btn-info btn-lg m-4" href="/demo/video/javascript">
                    Javascript
                </a>
            </div>
        </div>
        <div class="card-footer text-center">
            More languages to come soon!
        </div>
    </div>
</div>