<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h4>Ready to get started?</h4>
            <p class="lead mb-5 mb-lg-0 text-gray-500">Get in touch or create an account.</p>
        </div>
        <div class="col-lg-6 text-lg-right">
            <a class="btn btn-primary btn-marketing rounded-pill mr-3 my-2 lift lift-sm"
                href="javascript:changePageTo('/contact')">
                Contact Sales
            </a>
            <a class="btn btn-white btn-marketing rounded-pill my-2 lift lift-sm" href="javascript:startHere()">
                Create Account
            </a>
        </div>
    </div>
</div>