<div class="card text-center border-0 shadow" style="margin-top:4rem; margin-bottom:5rem;">
    <div class="card-header">
        <h2 class="pt-2">
            Create your own video chat groups in seconds!
        </h2>
    </div>
    <div class="card-body">
        <div class="align-items-center">
            <h3>
                GET THIS:
            </h3>
            <img src="/assets/videochat.gif" style="width:70%" class="mt-4 mb-3" />

            <div class="mt-4">
                <h5>
                    WITH THIS:
                </h5>
                <img src="/assets/video-chat-create-group.png" style="width:70%" class="border" />
            </div>
        </div>
        <div class="mt-4">
            <a href="/doc/#create-conference">See our detailed documentation with source code</a>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-primary btn-lg" onclick="startHere()">
            Start Now!
        </button>
    </div>
</div>