<table class="table border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="employeesList">
        <tr *ngFor="let item of records">
            <td>{{ item.data.name }}</td>
            <td>{{ item.data.age }}</td>
            <td>{{ item.data.position }}</td>
            <td>
                <button class="btn btn-danger mr-2" (click)="onDeleteRecord(item._id)">
                    Delete
                </button>
                <button class="btn btn-primary" (click)="getRecordById(item._id)">
                    Edit
                </button>                        
            </td>
        </tr>
    </tbody>
</table>

