<div class="card border-0 shadow">
    <div class="card-header">
        <h5>CRUD Demo App - Vaskit</h5>
    </div>
    <div class="card-body">

        <p class="card-text">
            Welcome! This demo app shows how you can use VASKIT to
            create, remove, update and delete records.
        </p>

        <div class="card-text mt-4">
            <h5>Things you will need:</h5>
        </div>

        <ul class="list-group mt-4">
            <li class="list-group-item">
                1) A VASKIT account. Go <a href="https://vaskit.com">here</a> to get one.
            </li>
            <li class="list-group-item">
                2) Your DEVELOPER KEY. You get this from your <a href="https://vaskit.com/dashboard">Dashboard</a>
            </li>
            <li class="list-group-item">
                3) From your <a href="https://vaskit.com/dashboard">Dashboard</a>, create a table called
                <b>employees</b>
            </li>
            <li class="list-group-item">
                You can find this code in our <a href="">repository</a>
            </li>
            <li class="list-group-item">
                This is a very simple example. Click <a href="/doc">here</a>
                and learn about users and records security to make them private
                or accessible to certain users only.
                Learn how to send <b>PUSH</b> messages and use <b>SOCKET</b> communication.
            </li>
        </ul>

    </div>
</div>